/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-meta-serif-web-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b06f4
 *   - http://typekit.com/eulas/00000000000000003b9b06f3
 *   - http://typekit.com/eulas/00000000000000003b9b06f6
 *   - http://typekit.com/eulas/00000000000000003b9b06fb
 *   - http://typekit.com/eulas/00000000000000003b9b06f7
 *   - http://typekit.com/eulas/00000000000000003b9b06f2
 *   - http://typekit.com/eulas/00000000000000003b9b06fa
 *   - http://typekit.com/eulas/00000000000000003b9b06f5
 *   - http://typekit.com/eulas/00000000000000003b9b06f9
 *   - http://typekit.com/eulas/00000000000000003b9b06f8
 *   - http://typekit.com/eulas/00000000000000003b9b06f1
 *   - http://typekit.com/eulas/00000000000000003b9b06f0
 * ff-meta-web-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b06df
 *   - http://typekit.com/eulas/00000000000000003b9b06db
 *   - http://typekit.com/eulas/00000000000000003b9b06e1
 *   - http://typekit.com/eulas/00000000000000003b9b06da
 *   - http://typekit.com/eulas/00000000000000003b9b06e0
 *   - http://typekit.com/eulas/00000000000000003b9b06de
 * ibm-plex-mono:
 *   - http://typekit.com/eulas/00000000000000003b9b21e5
 *   - http://typekit.com/eulas/00000000000000003b9b21e6
 *   - http://typekit.com/eulas/00000000000000003b9b21eb
 *   - http://typekit.com/eulas/00000000000000003b9b21ec
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-07-28 09:10:06 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=bgc4led&ht=tk&f=4531.4648.4649.4650.4651.5097.4750.5022.5035.5088.5178.5310.5404.5416.16925.16926.16927.16928.39868.39869.39874.39875&a=4888467&app=typekit&e=css');

@font-face {
  font-family: 'ff-meta-web-pro';
  src: url('https://use.typekit.net/af/824e1d/00000000000000003b9b06df/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/824e1d/00000000000000003b9b06df/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/824e1d/00000000000000003b9b06df/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'ff-meta-web-pro';
  src: url('https://use.typekit.net/af/317357/00000000000000003b9b06db/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/317357/00000000000000003b9b06db/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/317357/00000000000000003b9b06db/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'ff-meta-web-pro';
  src: url('https://use.typekit.net/af/01fc0c/00000000000000003b9b06e1/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/01fc0c/00000000000000003b9b06e1/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/01fc0c/00000000000000003b9b06e1/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'ff-meta-web-pro';
  src: url('https://use.typekit.net/af/829fc9/00000000000000003b9b06da/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/829fc9/00000000000000003b9b06da/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/829fc9/00000000000000003b9b06da/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'ff-meta-web-pro';
  src: url('https://use.typekit.net/af/f5cfe3/00000000000000003b9b06e0/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/f5cfe3/00000000000000003b9b06e0/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/f5cfe3/00000000000000003b9b06e0/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'ff-meta-web-pro';
  src: url('https://use.typekit.net/af/43c0ba/00000000000000003b9b06de/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/43c0ba/00000000000000003b9b06de/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/43c0ba/00000000000000003b9b06de/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/c62bf7/00000000000000003b9b06f4/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c62bf7/00000000000000003b9b06f4/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c62bf7/00000000000000003b9b06f4/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/608768/00000000000000003b9b06f3/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/608768/00000000000000003b9b06f3/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/608768/00000000000000003b9b06f3/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i5&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/59164f/00000000000000003b9b06f6/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/59164f/00000000000000003b9b06f6/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/59164f/00000000000000003b9b06f6/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/09a3d0/00000000000000003b9b06fb/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/09a3d0/00000000000000003b9b06fb/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/09a3d0/00000000000000003b9b06fb/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i9&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/6da54c/00000000000000003b9b06f7/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/6da54c/00000000000000003b9b06f7/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/6da54c/00000000000000003b9b06f7/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/8e6183/00000000000000003b9b06f2/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8e6183/00000000000000003b9b06f2/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8e6183/00000000000000003b9b06f2/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/851fd3/00000000000000003b9b06fa/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/851fd3/00000000000000003b9b06fa/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/851fd3/00000000000000003b9b06fa/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n9&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/c82052/00000000000000003b9b06f5/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c82052/00000000000000003b9b06f5/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c82052/00000000000000003b9b06f5/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/472f04/00000000000000003b9b06f9/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/472f04/00000000000000003b9b06f9/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/472f04/00000000000000003b9b06f9/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n8&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/7d826e/00000000000000003b9b06f8/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/7d826e/00000000000000003b9b06f8/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/7d826e/00000000000000003b9b06f8/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i8&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/d03d8b/00000000000000003b9b06f1/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/d03d8b/00000000000000003b9b06f1/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/d03d8b/00000000000000003b9b06f1/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ff-meta-serif-web-pro';
  src: url('https://use.typekit.net/af/dd00e0/00000000000000003b9b06f0/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/dd00e0/00000000000000003b9b06f0/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/dd00e0/00000000000000003b9b06f0/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i3&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/8f1878/00000000000000003b9b21e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8f1878/00000000000000003b9b21e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8f1878/00000000000000003b9b21e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/586a2f/00000000000000003b9b21e6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/586a2f/00000000000000003b9b21e6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/586a2f/00000000000000003b9b21e6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/63194f/00000000000000003b9b21eb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/63194f/00000000000000003b9b21eb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/63194f/00000000000000003b9b21eb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/519c62/00000000000000003b9b21ec/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/519c62/00000000000000003b9b21ec/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/519c62/00000000000000003b9b21ec/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
}

.tk-ff-meta-web-pro {
  font-family: 'ff-meta-web-pro', sans-serif;
}
.tk-ff-meta-serif-web-pro {
  font-family: 'ff-meta-serif-web-pro', serif;
}
.tk-ibm-plex-mono {
  font-family: 'ibm-plex-mono', sans-serif;
}
